{% load static %}

<!--aboutsession-->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2></h2>
        <h3><span>ABOUT US</span></h3>
        <p>Welcome to the official website of bag Emporium.</p>
      </div>

      <div class="row">
        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
          <img src="./{% static 'assets/img/add.jpg' %}" class="img-fluid" alt="">
          <br><br>
          
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
          <h3></h3>
          <p class="fst-italic">
            Welcome to Bag Emporium, your ultimate destination for bags !
             At Bag Emporium, we're more than just a store; we're your partner in style, convenience, and self-expression.
          </p>
          <ul>
            <li>
              <i class="bx bx-store-alt"></i>
              <div>
                <h5></h5>
                <p>We take pride in our extensive collection of bags, curated to suit every occasion and purpose. From trendy clutches for 
                    elegant evenings to rugged backpacks for adventurous journeys, we have it all under one roof.</p>
              </div>
            </li>
            <li>
              <i class="bx bx-images"></i>
              <div>
                <h5></h5>
                <p>Our commitment to quality is unwavering. Each bag in our inventory undergoes rigorous quality checks to ensure it meets our high standards.
                     We source materials from trusted suppliers to create durable, long-lasting products.</p>
              </div>
            </li>
          </ul>
          <p>
            We believe that fashion should be accessible to everyone. 
            That's why we offer competitive prices without compromising on quality. You can indulge in the latest trends without breaking the bank.
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->



